
@font-face {
  font-family: 'Kanit-ExtraBoldItalic';
  src: url('Kanit-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),  url('Kanit-ExtraBoldItalic.woff') format('woff'), url('Kanit-ExtraBoldItalic.ttf')  format('truetype'), url('Kanit-ExtraBoldItalic.svg#Kanit-ExtraBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
